*{
    font-family: 'Comfortaa', sans-serif;
    color: #2CCCC3;
}

body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    height: max-content;
    background-attachment: fixed;
    background: #000000;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url(../image/ebf3d3d0-ee5b-48d3-8b28-b1215b26ba05.jpg);
}

.history{
    margin-top: 80px;
    width: 60%;
    border: 2px solid;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    padding: 30px;
}

table{
    margin-top: 5%;
}

table tr th h2{
    text-align: left;
}

table tr th p{
    font-size: 20px;
}

table tr th a{
    font-size: 20px;
}

table tr th img{
    border: 2px solid #2CCCC3;
    border-radius: 15px;
}

.footer{
    border: 2px solid #2CCCC3;
    border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: transparent;
    border-radius: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #2CCCC3;
  }
